body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
    background-size: 300% 300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    font-size: 300%;

    /* Animação */
    animation: gradient 3s ease-in-out alternate infinite;
    animation-delay: 1s;
}

@keyframes gradient{
    from{
        background-position: 0 50%;
    }

    to{
        background-position: 100% 50%;
    }
}